@import '../../../../styles/theme.scss';

$z-index-header: 3;
$logo-width: 13rem;

.header {
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  z-index: $z-index-header;

}

.logo {
  width: $logo-width;
}

h1,h2,h3{
    color: white;
}

@media (max-width: 600px) {
  .logo {
    width: 44px !important; /* largura fixa no mobile */
    left: -5px;
    position: relative;
    }
  }