@import '../../styles/theme.scss';

@function shadeColor($color, $percent) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $r: round($r * (1 + $percent));
  $g: round($g * (1 + $percent));
  $b: round($b * (1 + $percent));

  $r: if($r < 255, $r, 255);
  $g: if($g < 255, $g, 255);
  $b: if($b < 255, $b, 255);

  @return rgb($r, $g, $b);
}

@mixin button-styles($color) {
  padding: 14px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: $color; 
  color: if($color == $light, #000, #fff); 
  transition: background-color 0.3s;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: shadeColor($color, -0.3); 
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

.primary {
  @include button-styles($primary);
}

.secondary {
  @include button-styles($secondary);
}

.success {
  @include button-styles($success);
}

.danger {
  @include button-styles($danger);
}

.warning {
  @include button-styles($warning);
}

.info {
  @include button-styles($info);
}

.light {
  @include button-styles($light);
}

.dark {
  @include button-styles($dark);
}