
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinAnimation 0.8s linear infinite;
}
