.container-checkout{
  margin: auto;
  width: 73%;
  padding: 35px;

}
.form-checkout{
  display: grid ;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.checkout{
  flex: 1;
  gap: 5px ;

  h4{
    margin: 10px 0px 5px 0px;
  }
  .payment{
    .MuiFormGroup-root{
      gap:5px;
    }
    .MuiFormControlLabel-root{
      background: #d6d6d6;
      border-radius: 3px;
      margin: 0;
      span{
        color: black;
      }
    }
  }
  .delivery{
    background: #d6d6d6;
    padding: 12px;
    margin-top: 5px;
    border-radius: 3px;
  }
}

.summary{
  display: flex;
  flex-direction: column;
  background: #d6d6d6;
  border-radius: 3px;
  margin: 0;
  padding: 10px;
  min-height: 24rem;

  h4{
    margin-top: 25px;
  }

  p{
    display: flex;
    justify-content: space-between;
  }

  .total{
    align-items: flex-end;
    flex-direction: column;
  }

  .installments{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
  }
  

  .btn-submit{
    margin: 8px;
    button{
      width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .container-checkout{
    width: 100%;
  
  }
  .form-checkout{
    grid-template-columns:1fr;
  }
}

 