
@import '../../styles/theme.scss';

.footer-style{
    background-color:$secondary;
    padding: 75px;
    color: $light;
    text-align: center;
    position: static;
    bottom: 0;
    margin-top: 35px;
    width: 100%;
    border-top:solid 1px #cdcecf;
}