@import '../../styles/theme.scss';
.form-user{
  margin: 20px;

  >form .MuiGrid-container{
    margin:5px 5px 5px 0px;
  }
  >form{
    width: 65%;
    border-radius: 8px; 
    padding: 25px;

    >h2{
      color: #3a3a3a!important;
    }
    >hr{
      border-color: #ffffff1c;
      margin: 15px 1px 15px 1px;
    }
  }
}
.container-form{
  display: flex;
  flex-direction: column;
  gap: 23px;
  background: #fdfdfd70;
  box-shadow: 1px 4px 5px -3px black;
  padding: 90px 15px;
  border-radius: 12px;
  max-width: 73vw;
  min-width: 21vw;
  position: relative;
}
.form-container{
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  font-size: 18px;
}

.error{
  font-size: 13px;
  color: #c00000;
  margin-left: 10px;
}

.btn-finish{
  background-color: black;
  &:hover{
    background-color: $secondary;
  }
}


@media (max-width: 768px) {
  .form-user{
    >form{
      width: 100%;
    }
  }
}